<div class="heatmap-page">
    <div class="heading">
        <h1>
            <%= "#{@name}" %>
        </h1>

        <%= link_to edit_heat_map_path(@heat_map), class: 'btn btn-link' do %>
            <i class="fas fa-edit"></i>
        <% end %>
    </div>

    <div class="heatmap">
        <% @data.each do |ticker, data| %>
            <% if data.nil? %>
                <div
                    class="js-stock symbol"
                    data-symbol=<%="#{ticker}"%>>
                    <div class="ticker-and-percentage">
                        <span>
                            <%="#{ticker}"%>
                        </span>
                        <span>
                            No data
                        </span>
                    </div>
                </div>
            <% else %>
                <div
                    class="js-stock symbol"
                    data-symbol=<%="#{ticker}"%>
                    data-performance-1d=<%="#{data['performance']['1d']}"%>>
                    <div class="ticker-and-percentage" data-toggle="tooltip" title=<%="#{number_to_currency data['price']}"%>>
                        <span>
                            <%="#{ticker}"%>
                        </span>
                        <span>
                            <%= number_to_percentage(data['performance']['1d'], precision: 2) %>
                        </span>
                    </div>
                </div>
            <% end %>

        <% end %>
    </div>

    <div class="heatmap-table">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <% @periods.each do |column_text| %>
                        <th scope="col"><%="#{column_text}"%></th>
                    <% end %>
                </tr>
            </thead>
            <tbody>
                <% @data.each do |ticker, data| %>
                    <tr>
                        <td>
                            <%="#{ticker}"%>
                        </td>
                        <% if !data.nil? %>
                            <% data['performance'].keys.each do |key| %>
                                <td class="js-performance-percentages">
                                    <%= number_to_percentage(data['performance'][key], precision: 2) %>
                                </td>
                            <% end %>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

<%= javascript_pack_tag 'show_heat_map' %>