<h1>Price Alerts</h1>

<% if @active_price_alerts.size == 0 %>
    <span>You don't have any active price alerts. <%= link_to 'Create one', new_price_alert_path %> </span>
<% else %>
    <h2>Active price alerts</h2>

    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Rule</th>
            <th scope="col">Created On</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            <% @active_price_alerts.each do |price_alert| %>
                <tr>
                    <td>
                        <%= price_alert.name %>
                    </td>
                    <td>
                        <%= "#{price_alert.ticker}" " #{price_alert.comparison_operator} " "#{number_to_currency price_alert.price}" %>
                    </td>
                    <td>
                        <%= price_alert.created_at.strftime('%F') %>
                    </td>
                    <td>
                        <%= link_to "Delete", price_alert_path(price_alert), data: { confirm: "Are you sure you want to delete #{price_alert.name}?" }, method: :delete %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= link_to 'Add price alert', new_price_alert_path %>
<% end %>


<% if @recently_triggered_price_alerts.size > 0 %>
    <h2>Recently triggered price alerts</h2>

    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Rule</th>
            <th scope="col">Triggered on</th>
        </tr>
        </thead>
        <tbody>
            <% @recently_triggered_price_alerts.each do |price_alert| %>
                <tr>
                    <td>
                        <%= price_alert.name %>
                    </td>
                    <td>
                        <%= "#{price_alert.ticker}" " #{price_alert.comparison_operator} " "#{number_to_currency price_alert.price}" %>
                    </td>
                    <td>
                        <%= price_alert.triggered_on.strftime('%c') %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>